<div class="l-login">

    <div class="l-login__box">
        <div class="l-login__logo">
            {% include "@components/logo/logo.svg" %}
        </div>
        <div class="l-login__tools">
	        {{ page.admin_tools }}
        </div>

        {{ page.content }}
    </div>
</div>
